@import '../styles/_globals.scss';

html, body {

    font-family: 'Ubuntu';
    font-size: 16px;
    color: $main-font-color;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

textarea, select, input, button {

    outline: none;
    font-family: inherit;
    color: $main-font-color;
}

button {

    border: none;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    background-color: #F4F4F4;
    top: -2px;
    position: relative;
    cursor: pointer;

    &:active {

        background-color: #BCBCBC;
    }

    &:disabled {

        background-color: #ffffff;
        border: 1px solid #DCDCDC;
        color:#B4B4B4;
        cursor: default;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placehoder-color;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placehoder-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $placehoder-color;
}

.main-wrapper {

    padding: 25px;
}